 h3 {
            text-align: center;
        }

 .container .item {
            text-align: center;
            background-color: black;
            color: white;
            border-top: thick dashed white;
            border-right: thick dashed white;
            border-bottom: thick dashed white;
            border-left: thick dashed white;
        }


 body {
            background-image: url("eagle.jpg");
            background-repeat: no-repeat;
            background-size: cover;
 }
 .container2 .item2 {
            margin: 20px;
            width: 30%;
        }